# --- פרמטרים חסויים (להשאיר ריק בגיט) ---
TELEGRAM_TOKEN=
GEMINI_API_KEY=

# --- קונפיגורציה והגדרות אפליקציה (ניתן להשאיר ערכי דיפולט) ---
GOOGLE_SHEET_NAME=inventory events
BACKUP_FOLDER_ID=
UPLOAD_FILES_FOLDER_ID=

#webhook values
WEBHOOK_BASE_URL=
WEBHOOK_PATH=/telegram/webhook
WEBHOOK_SECRET=

MAX_ROW_RETRIEVE=5
REMINDER_TIMEZONE=Asia/Jerusalem
REMINDER_STATUS_COLUMN=8